{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container">
        <h1>Пару слов обо мне</h1>
        <p>Я начинающий python разработчик. У меня  имеется опыт в верстке сайтов, создании рабочих скриптов на языке python. Знаю фремворк django</p>
        <h3>У меня  имеется опыт в верстке сайтов</h3>
        <ul>
            <li>Знаю язык разметки HTML и язык таблиц стилей CSS</li>
            <li>Умею верстать по макету</li>
            <li>Знаю как работать с препроцессорами scss</li>
        </ul>
        <h3>Cоздании рабочих скриптов на языке python.</h3>
        <ul>
            <li>Знаком с такими библиотеками как: selenium, requests, beautifulsoup</li>
            <li>Из работ с графическим интерфейсом: tkinter</li>
            <li>Знаю как сохранить данные в электронных таблицах и в формате json</li>
        </ul>
    </div>
{% endblock %}