button {
    background-color: rgba(0,0,0,0);
    color: white;
    height: 48px;
    width: 164px;
    border: 2px solid #ffffff;
    border-radius: 100px;
    border-color: white;
}

button:hover {
    background-color: rgba($color: #fff, $alpha: 0.1);
}

button:active {
    background-color: #159BE8;
    border: #159BE8;
}