<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/smoothie/css/main.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Blog</a>
            <img src="../static/smoothie/img/Group 2.png" alt="">
            <a href="#">Menu</a>
            <a href="#">Shop</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <main>
        <div class="slider">
            <span>About us</span>
            <p>Some facts about our activity</p>
        </div>
        <div class="juice">
            <article>
                <h1>Triple Berry Smoothie</h1>
                <p>A smoothie is so much more than blended fruit. It's an art with all of it's different elements blending perfectly together.</p>
            </article>
            <article class="info_margin">
                <h1>Pick your fruit</h1>
                <p>We chose strawberries, blackberries, raspberries, and bananas to be our base, but any combo of fruit is great.</p>
            </article>
            <article>
                <h1>Fresh or frozen fruit?</h1>
                <p>For smoothies, frozen fruit is best. It blends up thicker than fresh and gives you a really cold smoothie to enjoy when done.</p>
            </article>
            <img src="../static/smoothie/img/juice.png" alt="">
            <article>
                <h1>Add a thickener.</h1>
                <p>We use unsweetened greek yogurt in our smoothie, but peanut butter, almond butter, or vanilla yogurt are all great options.</p>
            </article>
            <article class="info_margin">
                <h1>Choose a liquid</h1>
                <p>Almond milk is great for the added nutty flavor, but coconut milk pairs well with a tropical smoothie.</p>
            </article>
            <article>
                <h1>Throw some add-ins in</h1>
                <p>Add some spinach or kale for additional nutrition or flax seeds for omega-3s. Flavors like fresh mint, vanilla extract, cinnamon, or honey</p>
            </article>
        </div>
        <div class="stats">
            <div class="stats_container">
                <div class="stats_block">
                    <img src="../static/smoothie/svg/cherry.svg" alt="cherry">
                    <span>4832</span>
                    <p>Cherry smoothies</p>
                </div>
                <div class="stats_block">
                    <img src="../static/smoothie/svg/apple.svg" alt="apple">
                    <span>2531</span>
                    <p>Apple smoothies</p>
                </div>
                <div class="stats_block">
                    <img src="../static/smoothie/svg/pineapple.svg" alt="pineapple">
                    <span>1939</span>
                    <p>Ananas smoothies</p>
                </div>
                <div class="stats_block">
                    <img src="../static/smoothie/svg/banana.svg" alt="banana">
                    <span>7812</span>
                    <p>Bananas smoothies</p>
                </div>
            </div>
        </div>
        <div class="dream_team_parent">
            <div class="dream_team_heading">
                <h1>Dream team</h1>
                <span>Meet our members</span>
            </div>
            <div class="dream_team_info">
                <div>
                    <div>
                        <img src="../static/smoothie//img/Group 17.png" alt="">
                    </div>
                    <div>
                        <article class="block_right block">
                            <h2>Ava Addams</h2>
                            <span>Designer</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dui ante, cons non profit here.</p>
                            <div class="icons">
                                <a href=""><img src="../static/smoothie/svg/fb.svg" alt=""></a>
                                <a href=""><img src="../static/smoothie/svg/yt.svg" alt=""></a>
                                <a href=""><img src="../static/smoothie/svg/inst.svg" alt=""></a>
                                <a href=""><img src="../static/smoothie/svg/tw.svg" alt=""></a>
                            </div>
                        </article>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../static/smoothie/img/Group 17 (1).png" alt="">
                    </div>
                    <div>
                        <article class="block_right block">
                            <h2>Ellen Marlen</h2>
                            <span>Designer</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dui ante, cons non profit here.</p>
                            <div class="icons">
                                <a href=""><img src="../static/smoothie/svg/fb.svg" alt=""></a>
                                <a href=""><img src="../static/smoothie/svg/yt.svg" alt=""></a>
                                <a href=""><img src="../static/smoothie/svg/inst.svg" alt=""></a>
                                <a href=""><img src="../static/smoothie/svg/tw.svg" alt=""></a>
                            </div>
                        </article>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../static/smoothie/img/Group 17 (2).png" alt="">
                    </div>
                    <div>
                        <article class="block_left block">
                            <h2>Rebecca Le</h2>
                            <span>Designer</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dui ante, cons non profit here.</p>
                            <div class="icons">
                                <a href=""><img src="../static/smoothie/svg/fb.svg" alt=""></a>
                                <a href=""><img src="../static/smoothie/svg/yt.svg" alt=""></a>
                                <a href=""><img src="../static/smoothie/svg/inst.svg" alt=""></a>
                                <a href=""><img src="../static/smoothie/svg/tw.svg" alt=""></a>
                            </div>
                        </article>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="../static/smoothie/img/Group 17 (3).png" alt="">
                    </div>
                    <div>
                        <article class="block_left block">
                            <h2>Andy Shped</h2>
                            <span>Drinker</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dui ante, cons non profit here.</p>
                            <div class="icons">
                                <a href=""><img src="../static/smoothie/svg/fb.svg" alt=""></a>
                                <a href=""><img src="../static/smoothie/svg/yt.svg" alt=""></a>
                                <a href=""><img src="../static/smoothie/svg/inst.svg" alt=""></a>
                                <a href=""><img src="../static/smoothie/svg/tw.svg" alt=""></a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="up">
            <section class="hours">
                <h3>Opening Hours</h3>
                <p class="schedule"> 
                    Monday / <span>9:00 – 20:00</span> <br>
                    Tuesday / <span>9:00 – 20:00</span> <br>
                    Wednesday / <span>9:00 – 20:00</span> <br>
                    Thursday / <span>9:00 – 20:00</span> <br>
                    Friday / <span>9:00 – 20:00</span> <br> 
                    Saturday / <span>9:00 – 20:00</span> <br>
                    Sunday / <span>CLOSED</span>
                </p>
            </section>
            <section class="contacts">
                <div><h3>Contact Info</h3></div>
                <div>
                    <img class="img_size" src="../static/smoothie/svg/footer/phone.svg" alt="">
                    <span class="phone">+38 899 4320 32</span>
                </div>
                <div>
                    <img class="img_size" src="../static/smoothie/svg/footer/email.svg" alt="">
                    <span class="email">hai@aletheme.com</span>
                </div>
                <div>
                    <img class="img_size" src="../static/smoothie/svg/footer/place.svg" alt="">
                    <span class="location">France, Paris, Lille de la Cite 1p</span>
                </div>
            </section>
            <section class="feed">
                <h3>Instagram feed</h3>
                <div class="food">
                    <img src="../static/smoothie/img/footer/Rectangle 18.png" alt="">
                    <img src="../static/smoothie/img/footer/Rectangle 19.png" alt="">
                    <img src="../static/smoothie/img/footer/Rectangle 20.png" alt="">
                    <img src="../static/smoothie/img/footer/Rectangle 21.png" alt="">
                    <img src="../static/smoothie/img/footer/Rectangle 22.png" alt="">
                    <img src="../static/smoothie/img/footer/Rectangle 23.png" alt="">
                </div>
            </section>
        </div>
        <div class="down">
            <div>Copyrights 2020. Ale Theme for WordPress</div>
            <div class="footer_icons">
                <img src="../static/smoothie/svg/footer/fb_yellow.svg" alt="">
                <img src="../static/smoothie/svg/footer/yt_yellow.svg" alt="">
                <img src="../static/smoothie/svg/footer/inst_yellow.svg" alt="">
                <img src="../static/smoothie/svg/footer/tw_yellow.svg" alt="">
            </div>
        </div>
    </footer>
    
</body>
</html>